<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>160513_01_HelloServlet</display-name>
	<servlet>
		<servlet-name>MainCont</servlet-name>
		<servlet-class>kr.co.wodud.cont.MainController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MainCont</servlet-name>
		<url-pattern>/maincont.do</url-pattern>
	</servlet-mapping>

	<!-- 테스트용 -->
	<servlet>
		<servlet-name>test</servlet-name>
		<servlet-class>kr.co.wodud.test</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>test</servlet-name>
		<url-pattern>/test.do</url-pattern>
	</servlet-mapping>

</web-app>